.App {
  font-family: sans-serif;
  text-align: center;
}

.site-layout-content {
  font-size: 120%;
  padding-right: 15%;
  padding-left: 15%;
  min-height: 500px;
}

.MainPage {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1503480207415-fdddcc21d5fc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size:cover;
  vertical-align: middle;
  padding: 18.5%;
}

h1 {
  font-size: 250%;
}
